* {
    margin: 0;
}

html, body {
    height: 100%;
}

#overall_container {
    width: 100%;
    height: 100%;
}

#nav {
    height: 50px;
    width: 100%;
    background-color: hotpink;
}

#credits {
    float: right;
    height: 100%;

    color: orchid;
    background-color: burlywood;
    font-size: 15px;
    font-family: "Papyrus";
    vertical-align: middle;
    height: 100%;
}

#nav h1 {
    font-family: "Comic Sans MS";
    display: inline;
}

#main_container {
    width: 100%;
    height: calc(100% - 50px); /* calc() bad */
}

#toolbar {
    width: 120px;
    height: 100%;
    background-color: seagreen;
    float: left;
}

#tooldbar h1 {
    text-align: center;
    width: 100%;

}

#toolbar button {
    width: 110px;
    height: 40px;
    margin: 5px;
}

#toolbar button.selected {
    color: plum;
    background-color: midnightblue;
}

#editor {
    width: calc(100% - 120px - 350px);
    height: 100%;
    margin: 0;
    background-color: aliceblue;
    float: left;
}

#editor canvas {
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 350px;
    height: 100%;
    float: right;
    background-color: bisque;
}